.amarillo{
	background-color: yellow;
	}
.rojo{
	background-color: red;
	
}
div{
	width:10%;
	height: 60%;
	font-size: 100%;
	padding: 2%;
	margin-top: 1%;
	display: inline-block;


}
.may{
	text-transform: uppercase;
	
}
p{
	text-align: left;
}
